body {
  font-family: sans-serif;
  margin: 20px;
}

#map-container {
  height: 100%;
  width: 100%;
  position: fixed;
}

#map {
  height: 100%;
  position: relative;
  background: white;
}

#map > div {
  height: 100%;
  width: 100%;
  background: white;
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate270 {
  transform: rotate(270deg);
}
